/* CONTAINER1 */

.container1 {
    border: white 3px solid;
    border-radius: 12px;
    box-shadow: -4px -6px 1px red, -7px -10px 7px skyblue;
    margin: 97px 79px;
    padding: 17px 24px;
    width: 35%;
    /* background-image: url('image/frmlogo.jfif') ; */
}

form::before {
    content: "";
    background-image: url(image/frmlogo.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.3;
    margin: 97px 79px;
    padding: 17px 24px;
    width: 36%;
    height: 44%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 350px;
    padding: 2px;
    border: 2px solid black;
    border-radius: 9px;
    margin: 8px auto;
    font-size: 13px;
}

.form-group input:hover {
    border: 2px solid black;
    color: rgb(0, 0, 255);
    box-shadow: 2px 3px 9px red;
}

.form-group input:active {
    border: 2px solid black;
    color: rgb(0, 0, 255);
    box-shadow: 2px 3px 9px rgb(14, 199, 29);
}

.container h2 {
    text-align: center;
    text-shadow: 2px 10px 2px #979595;
}

.container button {
    display: block;
    width: 75%;
    margin: 8% 12%;
}