:root {
    --whitegrey: rgb(173, 173, 173);
    --blackgrey: rgb(78, 78, 78);
    --lightsky: rgb(125, 155, 163);
    --white: white;
    --lightgrey: #cecece;
    --textshado: #e0bea0;
    --casari: #ed563b;
    --black: #151515;
    --blackred: #555555;
    --orange: #f36100;
    --crimson: crimson;
    --red: red;
    --skyblue: #5edef5;
    margin-top: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    height: 1578px;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    color: var(--white);
}

.container1 {
    margin: 0px;
    padding: 0px;
    height: 370px;
    background-image: url('image/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}


/* navbar Start */

.left {
    display: inline-block;
    position: absolute;
    left: 80px;
    top: 10px;
}

.container1 .left img {
    height: 60px;
    width: 260px;
    margin: 17px 0px 0px -40px;
}

.mid {
    display: block;
    width: 50%;
    margin: 0px auto;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
    margin-top: 30px;
    font-weight: 600;
}

.navbar li a {
    color: var(--whitegrey);
    text-decoration: none;
    padding: 13px 11px;
    font-size: 20px;
}

.navbar li a:hover,
.navbar li a.active {
    color: var(--white);
}

.navbar li ul {
    display: none;
    position: absolute;
    background-color: var(--white);
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
    width: 115px;
}

.navbar li:hover ul {
    display: block;
}

.navbar li ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.navbar li ul li a {
    text-align: center;
    margin: -9px;
    font-size: 17px;
    color: var(--black);
}

.navbar li ul li:hover {
    background-color: var(--lightgrey);
}

.right {
    position: absolute;
    right: 32px;
    top: 35px;
    display: inline-block;
}


/* navbar End */

.schedules {
    margin: 12%;
    text-align: center;
}

.schedules1 {
    color: var(--white);
    height: 88px;
}

.schedules1 h2 {
    text-align: center;
    font-size: 72px;
    text-shadow: 4px 25px 7px var(--textshado);
    transition: all 1s ease-in-out;
}

.schedules1 h2:hover {
    transform: translate(10px, 10px);
}

.schedules1 h2 span {
    color: var(--casari);
    font-size: 72px;
    text-shadow: 4px 25px 7px var(--textshado);
    transition: all 1s ease-in-out;
}

.schedules1 h2 span {
    transform: translate(10px, 10px);
}

.schedules a::after {
    content: ">";
    margin-left: 15px;
    color: var(--white);
}

.schedules a {
    font-size: 22px;
    color: var(--white);
    margin: 5px;
    cursor: pointer;
    text-decoration: none;
}

.schedules span {
    font-size: 22px;
    color: var(--casari);
    margin: 5px;
    cursor: pointer;
}


/* Arrow_up */

#Arrow_up {
    position: fixed;
    top: 30rem;
    left: 81rem;
    z-index: 3;
    color: var(--white);
}


/* container2 */

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--black);
    height: 159px;
}

.paragraph {
    position: relative;
    top: 2%;
    left: -2%;
    height: 74px;
    width: 43%;
}

.container2 p {
    color: var(--white);
    font-size: 21px;
    text-align: center;
}

.container2 p:hover {
    color: var(--skyblue);
}


/* container3 */

.container3 {
    display: block;
    width: 100vw;
    margin: -2% auto;
    background-color: var(--blackred);
    transition: all 1s ease-in-out;
}

.container3:hover {
    background: var(--black);
}

.section-heading {
    text-align: center;
}

.section-heading h2 {
    color: var(--white);
    font-size: 32px;
}

.section-heading h2 em {
    font-style: normal;
    color: var(--orange);
    font-size: 32px;
}

p {
    font-size: 20px;
    line-height: 25px;
    color: var(--white);
    margin-bottom: 5%;
}

.Sdaylist1 {
    display: flex;
    justify-content: center;
}

.Sdaylist1 li {
    list-style: none;
    padding: 9px 4px;
    margin: 13px 11px;
}

.Sdaylist1 li::after {
    content: "/";
    margin-left: 20px;
    color: var(--white);
}

.Sday {
    color: var(--white);
    font-size: 22px;
}

.active {
    color: var(--orange);
    font-size: 22px;
}

.Sday:hover {
    color: var(--orange);
}

li .Sday:active {
    color: var(--orange);
    color: var(--white);
    font-size: 22px;
}


/* table  */

table {
    display: block;
    width: 81%;
    margin: auto;
}

table th:hover {
    background-color: rgb(62 62 62);
    border-radius: 12px;
    box-shadow: inset -3px -5px 4px 3px var(--whitegrey);
    box-shadow: inset 3px 5px 4px 3px var(--whitegrey);
}

table td:hover {
    background-color: rgb(62 62 62);
    border-radius: 12px;
    box-shadow: inset -3px -5px 4px 3px var(--whitegrey);
    box-shadow: inset 3px 5px 4px 3px var(--whitegrey);
}

.tbox {
    color: var(--white);
    font-size: 20px;
    text-align: center;
}


/* footer */

.col #add1 {
    margin-top: -14px;
}

#headingfollow {
    margin-left: -42px;
}

#headingMap {
    margin: -4% 0% 0% 130px;
}


/* Second Footer */

.footer_contact {
    margin: 0% 0% 0% 45%;
}

#copyright {
    margin-left: 26%;
}

#footerNo {
    position: relative;
    top: 5%;
    right: 1%;
}

#contactbtn {
    margin-right: 3%;
}